{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Instead of form can be textarea -->
<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
        <h4>Type a post</h4>
        <textarea class="peer block min-h-[auto] w-full rounded border-0 bg-transparent py-[0.32rem] px-3 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0" name="text" id="text" cols="3"></textarea>

        <br>
      <!--Post button-->
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Post
        </button>
        <!--Delete button-->
        <a href="/home">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                Back
            </button>
        </a>

      </div>
      <br>
        

      </div>
    </form>
  </div>

{% endblock %}