<!-- When Changing this page posts.html & home.page will change -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<h1>{% block header %}Posts{% endblock %}</h1>

<div class="max-w-sm rounded overflow-hidden shadow-lg" id="posts">
    {% for post in posts %}
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><a href="/posts/{{post.user.username}}">{{post.user.username}}</a></div>
      {% if user.id == post.author %}

      <!--Button information-->
      <div class="flex justify-center">
        <div>
          <div class="relative" data-te-dropdown-ref>
            <button
              class="flex items-center whitespace-nowrap rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none"
              type="button"
              id="dropdownMenuButton1"
              data-te-dropdown-toggle-ref
              aria-expanded="false"
              data-te-ripple-init
              data-te-ripple-color="light">
              Dropdown button
              <span class="ml-2 w-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-5 w-5">
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </button>
            <ul
              class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
              aria-labelledby="dropdownMenuButton1"
              data-te-dropdown-menu-ref>
              <li>
                <a
                  class="block w-full whitespace-nowrap bg-transparent py-2 px-4 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                  href="/delete-post/{{post.id}}"
                  data-te-dropdown-item-ref
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Body -->
      <p class="text-gray-700 text-base">
        {{post.text}}
        <br>
        
        <div>
            <!-- Displaying comments for one post -->
            <p class="mb-4 space-y-1 md:space-x-1 md:space-y-0" id="comments-{{post.id}}">
                <a
                  class="inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                  data-te-collapse-init
                  data-te-ripple-init
                  data-te-ripple-color="light"
                  href="#collapseExample"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample">
                  View comments
                </a>
            </p>
            <div class="!visible hidden" id="comments-expanded-{{post.id}}" data-te-collapse-item>
                {% for comment in post.comments %}
                <div class="block rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700 dark:text-neutral-50 justify-content-between align-items-center">
                    <!-- Move to the Left -->
                    <div>
                        Some placeholder content for the collapse component. This panel is
                        hidden by default but revealed when the user activates the relevant
                        trigger.
                        <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                    </div>
                </div>
                <!-- Showing Dates (Move to the Right) -->
                <div>
                    <small class="text-slate-500">{{comment.date_created}}</small>

                    {% if user.id == comment.author or user.id == post.author %}

                    <div>
                        <div class="relative" data-te-dropdown-ref>
                          <button
                            class="flex items-center whitespace-nowrap rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none"
                            type="button"
                            id="dropdownMenuButton1"
                            data-te-dropdown-toggle-ref
                            aria-expanded="false"
                            data-te-ripple-init
                            data-te-ripple-color="light">
                            Dropdown button
                            <span class="ml-2 w-2">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="h-5 w-5">
                                <path
                                  fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd" />
                              </svg>
                            </span>
                          </button>
                          <ul
                            class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                            aria-labelledby="dropdownMenuButton1"
                            data-te-dropdown-menu-ref>
                            <li>
                              <a
                                class="block w-full whitespace-nowrap bg-transparent py-2 px-4 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                                href="/delete-comment/{{comment.id}}"
                                data-te-dropdown-item-ref
                                >Delete</a
                              >
                            </li>
                          </ul>
                        </div>
                        {% endif %}
                      </div>

                </div>

                {% endfor %}
            </div>
        </div>
        <!-- Gets length of comments -->
        {% if post.comments|length > 0 %}

        <p class="mb-4 space-y-1 md:space-x-1 md:space-y-0">
            <a
              class="inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              data-te-collapse-init
              data-te-ripple-init
              data-te-ripple-color="light"
              href="#comments-{{post.id}}"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample">
              <small>View {{posts.comments|length}} Comments</small>  
            </a>
        </p>

        {% else %}
        <small class="no-underline">No Comments</small>
        {% endif %}

        </div>
        <!-- Add Margin lat3r-->
        <form action="/create-comment/{{post.id}}" method="POST">
            <input type="text" id="text" name="text" placeholder="Leave a comment" />
            <button>Comment</button>
        </form>
      </p>

    </div>

    <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{post.date_created}}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% block footer %}
    <div>
        <a href="/create-post">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="button">
                Create a Post
            </button>
        </a>
        
    </div>
{% endblock %}

{% endblock %}